@import "tailwindcss";
@import 'tailwind-scrollbar-hide/v4';

/* =========================================
   1. CONFIGURATION & THEME
   ========================================= */
@theme inline {
    --font-montserrat-sans: var(--font-montserrat);
}

@layer base {
    /* Hiệu ứng chuyển màu mượt cho toàn bộ app */
    *, *::before, *::after {
        @apply transition-colors duration-200;
    }
}

/* =========================================
   2. CSS VARIABLES SYSTEM
   ========================================= */

/* --- LIGHT MODE (DEFAULT) --- */
:root {
    /* Generic Layout Colors */
    --bg-body: #FAFAFA;
    --bg-surface: #FFFFFF;
    --bg-wash: #F0F2F5;
    --bg-input: #FFFFFF;

    /* Generic Text Colors */
    --text-primary: #050505;
    --text-secondary: #65676B;

    /* Generic Buttons */
    --btn-primary-bg: rgb(0, 0, 0);
    --btn-primary-text: rgb(255, 255, 255);
    --btn-secondary-bg: #E4E6EB;

    /* Generic Borders */
    --border-color: #CED0D4;

    /* System Fonts */
    --font-family-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    /* 2. Barcelona Specifics (Các thông số bạn lấy từ Threads/Instagram) */
    /* Barcelona Light Mode Variables */
    --barcelona-primary-background: rgb(250, 250, 250);
    --barcelona-secondary-background: rgb(250, 250, 250);
    --barcelona-tertiary-background: rgb(229, 229, 229);
    --barcelona-elevated-background: rgb(255, 255, 255);

    --barcelona-primary-text: rgb(5, 5, 5);
    --barcelona-secondary-text: rgb(101, 103, 107);
    --barcelona-charcoal-text: rgb(80, 80, 80);
    --barcelona-liked-text: rgb(244, 0, 57);

    --barcelona-primary-icon: rgb(5, 5, 5);
    --barcelona-secondary-icon: rgb(101, 103, 107);
    --barcelona-charcoal-icon: rgb(80, 80, 80);

    --barcelona-primary-column-outline: rgb(206, 208, 212);
    --barcelona-primary-outline: rgba(5, 5, 5, 0.15);

    --barcelona-box-shadow-04: rgba(0, 0, 0, 0.04);
    --barcelona-notification-badge-background: rgb(244, 0, 57);
    --barcelona-primary-button: rgb(0, 0, 0);

    --always-dark-overlay: rgba(0, 0, 0, 0.4);
    --grey-1: rgb(80, 80, 80);

    --barcelona-column-layout-max-width: 640px;
    --barcelona-threadline-column-width: 48px;
    --barcelona-columns-item-horizontal-padding: 48px;
    --system-15-font-size: 15px;
    --system-13-font-size: 13px;
    --x-6wlwus: 24px;
    /*   Theme Switcher */
    --theme-switcher-bg: #fafafa;
    --theme-switcher-border: #d7d7d7FF;

    --theme-switcher-text-primary: #999999;
    --theme-switcher-active-text: #000000;
    --theme-switcher-text-hover: #d4d4d8;

    --theme-swithcer-button-active-bg: #f2f2f2;
    --theme-swithcer-button-active-text: #ffffff;
    --theme-swithcer-button-active-border: rgba(0, 0, 0, 0.15);

    /*  Action Menu  */
    --action-menu-bg: #ffffff;
    --action-menu-border: #d7d7d7FF;
    --action-menu-text-primary: #050505;
    --action-menu-text-hover: #000000;
    --action-menu-text-disable: #fb2c36;

    --action-menu-hover: #f5f5f5;
    --action-menu-button-active: #e5e5e5;
    --action-submenu-text-primary: #9f9fa9;

    /* Side bar*/
    --sidebar-bg: var(--bg-body);
    --sidebar-text-primary: #d8d8d8;
    --sidebar-button-bg-primary: #f1f1f1;
    --sidebar-button-bg-primary-hover: #f2f2f2;
    --sidebar-text-active: #000000;
    --sidebar-create-button-text-hover: #000000;

    /* Login Sidebar  */
    --login-sidebar-bg: #FFFFFF;
    --login-sidebar-border: #DBDBDB;
    --login-sidebar-text-primary: #737373;
    --login-sidebar-text-secondary: #000000;
    --login-sidebar-instagram-button-bg: var(--bg-body);
    --login-sidebar-instagram-button-text: #000000;

    /*  Home Feed  */
    --home-feed-bg: var(--bg-surface);
    --home-feed-border: #383939;


    /*  Thread Component  */
    --thread-primary-border: #f0f0f0;
    --thread-hashtag-text: #0095f6;
    --thread-border-image: #383838;
    --thread-header-time-text: #6a7282;
    --thread-header-primary-text: #000000;
    --thread-header-secondary-text: #65676B;
    --thread-header-secondary-text-hover: #050505;
    --thread-header-bg-hover: rgba(245, 245, 245, 0.8);
    --thread-action-bar-bg: #f5f5f5;

    /* Login Require Modal  */
    --modal-bg-primary: #ffffff;
    --modal-bg-secondary: #f5f5f5;
    --modal-border: #dbdbdb;
    --modal-text-primary: #262626;
    --modal-text-secondary: #000000;
    --modal-divider: #e5e5e5;
    --modal-btn-bg: #fafafa;
    --modal-border-hover: #808080;

    /* Search View */
    --search-view-bg: #ffffff;
    --search-view-header-bg: #ffffff;
    --search-result-section-bg: #fafafa;
    --search-view-border: #e5e5e5;
    --search-view-text-primary: #000000;
    --search-view-text-secondary: #65676b;
    --search-view-tab-active: #000000;
    --search-view-tab-inactive: #a8a8a8;
    --search-view-result-hover: #f5f5f5;
    --search-view-divider: #e0e0e0;
    --search-tab-bg: #ffffff;

    /* Login View */
    --login-view-bg: #ffffff;
    --login-view-text-primary: #121212;
    --login-view-text-secondary: #808080;
    --login-view-border: #808080;
    --login-view-divider: #383939;
    --login-view-link-hover: #ffffff;
    --login-view-button-text: #555658;
    --login-view-button-text-hover: #000000;

    /* Login Form */
    --login-form-input-bg: #f5f5f5;
    --login-form-input-border: #e5e5e5;
    --login-form-input-border-focus: #a8a8a8;
    --login-form-input-text: #000000;
    --login-form-input-placeholder: #a8a8a8;
    --login-form-button-bg: #000000;
    --login-form-button-text: #ffffff;
    --login-form-button-bg-disabled: #0A0A0A;
    --login-form-button-text-disabled: #a8a8a8;
    --login-form-error-text: #fb2c36;
    --login-form-icon-color: #a8a8a8;

    /*  Thread detail header  */
    --thread-detail-bg: #ffffff;
    --thread-detail-btn-bg-hover: #f2f2f2;
    --thread-detail-primary-border: var(--thread-detail-bg);
    --thread-detail-secondary-border: #e0e0e0;
    --thread-detail-third-border: #dcdcdc;
    --thread-detail-border: #e5e5e5;
    --thread-detail-border-outline: #d0d0d0;
    --thread-detail-text-primary: #000000;
    --thread-detail-text-secondary: #65676b;
    --thread-detail-hover: #f0f0f0;
    --thread-detail-primary-icon: #000000;
}

/* --- DARK MODE (OVERRIDES) --- */
/* Class .dark được thêm bởi next-themes hoặc logic JS của bạn */
.dark {
    /* #0A0A0A: Dùng cho nền chính (Body) - Sâu hơn, đen hơn */
    --bg-body: #0A0A0A;

    /* #181818: Dùng cho các khối nổi (Surface/Card/Menu) */
    --bg-surface: #181818;
    --bg-input: #181818;
    /*--bg-surface: #242526;            !* --card-background *!*/
    --bg-wash: #18191A;               /* --web-wash */
    /*--bg-input: #242526;              !* --input-background *!*/

    --text-primary: #E4E6EB;          /* --primary-text */
    --text-secondary: #B0B3B8;        /* --secondary-text */

    --btn-primary-bg: rgb(255, 255, 255);
    --btn-primary-text: rgb(0, 0, 0);
    --btn-secondary-bg: rgba(255, 255, 255, 0.1);

    --border-color: #3E4042;          /* --divider */

    /* 2. Barcelona Specifics (Các thông số bạn lấy từ Threads/Instagram) */
    --barcelona-primary-background: rgb(16, 16, 16); /* Map lại từ bg-body cho đồng bộ */
    --barcelona-secondary-background: rgb(10, 10, 10);
    --barcelona-tertiary-background: rgb(30, 30, 30);
    --barcelona-elevated-background: rgb(24, 24, 24);

    --barcelona-primary-text: rgb(243, 245, 247);
    --barcelona-secondary-text: rgb(119, 119, 119);
    --barcelona-charcoal-text: rgb(204, 204, 204);
    --barcelona-liked-text: color(display-p3 1 0.18 0.25 / 1);

    --barcelona-primary-icon: rgb(243, 245, 247);
    --barcelona-secondary-icon: rgb(119, 119, 119);
    --barcelona-charcoal-icon: rgb(204, 204, 204);

    --barcelona-primary-column-outline: rgb(45, 45, 45);
    --barcelona-primary-outline: rgba(243, 245, 247, 0.15);

    --barcelona-box-shadow-04: rgba(0, 0, 0, 0.04);
    --barcelona-notification-badge-background: color(display-p3 1 0.18 0.25 / 1);
    --barcelona-primary-button: rgb(255, 255, 255);

    --always-dark-overlay: rgba(0, 0, 0, 0.4);
    --grey-1: rgb(239, 239, 239);

    /* Dimensions & Sizes (Giữ nguyên dù là Dark/Light nhưng bạn để trong block dark cũ) */
    --barcelona-column-layout-max-width: 640px;
    --barcelona-threadline-column-width: 48px;
    --barcelona-columns-item-horizontal-padding: 48px;
    --system-15-font-size: 15px;
    --system-13-font-size: 13px;
    --x-6wlwus: 24px;

    /*  Theme Switcher */
    --theme-switcher-bg: #0a0a0a;
    --theme-switcher-border: #27272a;

    --theme-switcher-text-primary: #71717b;
    --theme-switcher-active-text: #ffffff;
    --theme-switcher-text-hover: #d4d4d8;

    --theme-swithcer-button-active-bg: #1d1d1d;
    --theme-swithcer-button-active-text: #ffffff;
    --theme-swithcer-button-active-border: #353636FF;

    /*  Action Menu  */
    --action-menu-bg: #1E1E1E;
    --action-menu-border: #27272A;
    --action-menu-text-primary: #FFFFFF;
    --action-menu-text-disable: #fb2c36;
    --action-menu-text-hover: #000000;

    --action-menu-hover: #27272a;
    --action-menu-button-active: #3f3f46;
    --action-submenu-text-primary: #9f9fa9;

    /*  Sidebar  */
    --sidebar-bg: #181818;
    --sidebar-text-primary: #99a1afFF;
    --sidebar-button-bg-primary: #1D1D1D;
    --sidebar-button-bg-primary-hover: #2D2D2D;
    --sidebar-text-active: #FFFFFF;
    --sidebar-create-button-text-hover: #ffffff;

    /* Login side bar  */
    --login-sidebar-bg: #1E1E1E;
    --login-sidebar-border: #383939;
    --login-sidebar-text-primary: #777777;
    --login-sidebar-text-secondary: #ffffff;
    --login-sidebar-instagram-button-bg: var(--bg-body);
    --login-sidebar-instagram-button-text: #ECEEF0;

    /*  Home Feed  */
    --home-feed-bg: var(--bg-surface);
    --home-feed-border: #383939;

    /*  Thread Component  */
    --thread-primary-border: #2a2a2a;
    --thread-hashtag-text: #0095f6;
    --thread-border-image: #383838;
    --thread-header-time-text: #6a7282;
    --thread-header-primary-text: #ffffff;
    --thread-header-secondary-text: #99a1af;
    --thread-header-secondary-text-hover: #d1d5dc;
    --thread-header-bg-hover: #1e1e1e;
    --thread-action-bar-bg: #1e1e1e;

    /* Login Require Modal  */
    --modal-bg-primary: #1a1a1a;
    --modal-bg-secondary: #2a2a2a;
    --modal-border: #383939;
    --modal-text-primary: #808080;
    --modal-text-secondary: #ffffff;
    --modal-divider: #383939;
    --modal-btn-bg: #262626;
    --modal-border-hover: #505050;

    /* Search View */
    --search-view-bg: #0A0A0A;
    --search-view-header-bg: #0A0A0A;
    --search-result-section-bg: #181818;
    --search-view-border: #383939;
    --search-view-text-primary: #ffffff;
    --search-view-text-secondary: #a8a8a8;
    --search-view-tab-active: #ffffff;
    --search-view-tab-inactive: #65676b;
    --search-view-result-hover: #262626;
    --search-view-divider: #383838;
    --search-tab-bg: #1e1e1e;

    /* Login View */
    --login-view-bg: #101010;
    --login-view-text-primary: #ffffff;
    --login-view-text-secondary: #999999;
    --login-view-border: #383939;
    --login-view-divider: #383939;
    --login-view-link-hover: #e0e0e0;
    --login-view-button-text: #a0a0a0;
    --login-view-button-text-hover: #ffffff;

    /* Login Form */
    --login-form-input-bg: #1e1e1e;
    --login-form-input-border: #383939;
    --login-form-input-border-focus: #b8b8b8;
    --login-form-input-text: #ffffff;
    --login-form-input-placeholder: #777777;
    --login-form-button-bg: #ffffff;
    --login-form-button-text: #000000;
    --login-form-button-bg-disabled: #ffffff;
    --login-form-button-text-disabled: #666666;
    --login-form-error-text: #fb2c36;
    --login-form-icon-color: #777777;

    /*  Thread detail  */
    --thread-detail-bg: #181818;
    --thread-detail-btn-bg-hover: #1d1d1d;
    --thread-detail-primary-border: var(--thread-detail-bg);
    --thread-detail-secondary-border: #383939;
    --thread-detail-third-border: #2a2a2a;
    --thread-detail-border-outline: #383939;
    --thread-detail-text-primary: #ffffff;
    --thread-detail-text-secondary: #a0a0a0;
    --thread-detail-hover: #1d1d1d;
    --thread-detail-primary-icon: #000000;
}

/* =========================================
   3. BASE ELEMENTS
   ========================================= */

html {
    scroll-behavior: smooth;
    /* Dùng biến màu để đảm bảo đồng bộ theme */
    background-color: var(--bg-body);
}

body {
    /* Kết hợp Tailwind text base và biến màu custom */
    @apply text-base antialiased;
    background-color: var(--bg-body);
    color: var(--text-primary);
    font-family: var(--font-montserrat-sans), var(--font-family-system), Arial, Helvetica, sans-serif;
}

/* =========================================
   4. UTILITY CLASSES
   ========================================= */

/* Layout Utilities */
.container-responsive {
    @apply mx-auto px-4 sm:px-6 lg:px-8;
}

/* Text Utilities */
.text-truncate-line {
    @apply truncate;
}
.text-truncate-lines-2 {
    @apply line-clamp-2;
}
.text-truncate-lines-3 {
    @apply line-clamp-3;
}

/* Focus Ring */
.btn-focus-ring {
    @apply outline-none ring-2 ring-offset-2 ring-[#8b5cf6];
}

/* Hide Scrollbar */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none; /* IE & Edge */
    scrollbar-width: none;    /* Firefox */
}

/* =========================================
   5. COMPONENT STYLES (LEGACY / SPECIFIC)
   ========================================= */

/* Heading Logic */
.heading {
    position: relative;
    display: block;
    max-width: 100%;
    min-width: 0;
    color: var(--barcelona-primary-text); /* Lưu ý: Biến này cần có giá trị ở Light Mode nếu muốn hiện đúng */
    font-size: var(--system-15-font-size);
    font-family: var(--font-family-system);
    font-weight: 600;
    text-align: start;
    white-space: pre-line;
    word-wrap: break-word;
    word-break: break-word;
    overflow-x: visible;
    overflow-y: visible;
    --line-height-base: calc(1.4 * 1em);
    line-height: var(--line-height-base);
}

.heading-text {
    display: block;
}

/* Spacer Hacks (Before/After) */
.heading::before,
.heading::after,
.tab-button::before,
.tab-button::after,
.content-line-thread-detail::before,
.content-line-thread-detail::after,
.action-text::before,
.action-text::after {
    content: "";
    display: block;
    height: 0;
}

/* Password Input Reveal Fix */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}

/* SVG Reset */
svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}

/* Animation */
@keyframes xekv6nw-B {
    0% { opacity: 0; }
}

/* Container Queries & Responsive Hacks */
@container (max-width: 699px) {
    .x1f9n5g.x1f9n5g {
        padding-inline-start: var(--x-6wlwus);
    }
    .x17dsfyh.x17dsfyh {
        padding-inline-end: var(--x-6wlwus);
    }
}

img.portrait {
    width: 200px;
    aspect-ratio: 3 / 4;
    object-fit: cover;
}

img.landscape {
    width: 300px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}